name: Android PWA Build

on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Disable Bubblewrap Interactive
        run: |
          echo "BUBBLEWRAP_NON_INTERACTIVE=true" >> $GITHUB_ENV
          export BUBBLEWRAP_NON_INTERACTIVE=true

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install Bubblewrap
        run: npm install -g @bubblewrap/cli

      - name: Install JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"

      - name: Install Android SDK
        uses: android-actions/setup-android@v3

      - name: Bubblewrap Init
        run: |
          bubblewrap init --manifest=https://powertech0417.github.io/generate_links/manifest.webmanifest --skipPwaDisplayModeCheck --use-notification-delegation --nonInteractive

      - name: Bubblewrap Update
        run: |
          bubblewrap update --manifest=https://powertech0417.github.io/generate_links/manifest.webmanifest --nonInteractive

      - name: Build APK
        run: bubblewrap build

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: build/*.apk
