name: Build TWA APK

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install -y openjdk-17-jdk
          npm install -g @bubblewrap/cli

      - name: Restore Keystore
        env:
          KEYSTORE_P12_BASE64: ${{ secrets.KEYSTORE_P12_BASE64 }}
        run: echo "$KEYSTORE_P12_BASE64" | base64 --decode > powertech.p12

      - name: Bubblewrap Init
        env:
          CI: "1"
          BUBBLEWRAP_NO_PROMPT: "true"
          BUBBLEWRAP_FORCE_NO_JDK: "true"
          KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
          KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
        run: |
          bubblewrap init \
            --manifest=https://powertech0417.github.io/Cv_ap/manifest.json \
            --skipPwaDisplayModeCheck \
            --signingKey=powertech.p12 \
            --storePassword=$KEYSTORE_PASSWORD \
            --keyAlias=$KEY_ALIAS \
            --keyPassword=$KEY_PASSWORD \
            --nonInteractive \
            --skipInstall

      - name: Bubblewrap Build
        env:
          CI: "1"
          BUBBLEWRAP_NO_PROMPT: "true"
          BUBBLEWRAP_FORCE_NO_JDK: "true"
        run: |
          bubblewrap build --nonInteractive --skipInstall

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: CV-APP
          path: android/app-release-signed.apk
